# Virtual environments
venv/
env/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg
*.whl

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
